.specdiv{
    overflow-x: hidden;
    width: 100%;
    padding: 0px 0px;
    min-height: calc(100vh - 1.7cm);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url("../../assets/bg1.png");
    
    
}
.bigdiv{
    overflow-x: hidden;
    width: 100%;
    min-height: calc(100vh - 1.7cm);
    padding: 10px 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(50px);
    
}
.otherdetails{
    
    color: white;
    width: 100%;
    border-radius: 10px;
}
.maindiv{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.otherdetails{
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;

}
.desc{

    display: flex;
    align-items: flex-start;
    gap: 10px;
    background-color: #3d3d3d99;
    padding: 5px 5px;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    backdrop-filter: blur(10px);
    

}
.textdesc{
    background-color: #4e4e4e77;
    padding: 5px 5px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

@media screen and (max-width:850px) {
    .desc{
        font-size:11px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .textdesc{
        font-size:14px;
    }
    .otherdetails{
        min-width:90vw;
    }
    
}
@media screen and (max-width:950px) {
    .desc{
        font-size:14px;
        display: flex;
        align-items: center;
    }
    .sevenday{
        display: none;
    }
    
    
}
